# virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store